@font-face {
    font-family: 'Lilita One';
    src: url('/fonts/LilitaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Wendy One';
    src: url('/fonts/WendyOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }