// Define custom colors
$primary-color: #1e40af;
$secondary-color: #9333ea;
$accent-color: #f43f5e;
$pastel-yellow: #FDCD60;
$dark-purple: #5546CB;
$pastel-orange: #FF8859;
$pastel-light-yellow: #FEFAE0;
$pastel-light-red: #E5989B;
$pastel-light-blue: #98D8FF;
$pastel-red: #FF6060;
$pastel-blue: #295F98;
$pastel-purple: #C7C3FF;
$lilita-one: 'Lilita One', cursive;
$wendy-one: 'Wendy One', cursive;
$fredoka: 'Fredoka', cursive;

body {
  &.rtl {
    direction: rtl;
    font-family: $fredoka;
  }
  &.ltr {
    direction: ltr;
    font-family: $wendy-one;
  }
}

button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: $fredoka;
  font-size: 20px;

  &:hover {
    background-color: $accent-color;
  }
  
  &.close-button {
    color: $dark-purple;
    padding: 0 5px;
  }
}

button.inline-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.parents-help-button-container {
  cursor: help;
}

label {
  color: $dark-purple;
}

.parents-help-button {
  background-color: $pastel-purple;
  color: $dark-purple;
  border: 1px solid $dark-purple;
  border-radius: 2rem;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: $pastel-light-red;
    color: $pastel-red;
  }
}

.bg-pastelLightYellow {
  background-color: $pastel-light-yellow;
}

.bg-pastelLightRed {
  background-color: $pastel-light-red;
}

.bg-pastelLightBlue {
  background-color: $pastel-light-blue;
}

.bg-darkPurple {
  background-color: $dark-purple;
}

.text-darkPurple {
  color: $dark-purple;
}

.text-pastelYellow {
  color: $pastel-yellow;
}

.text-pastelOrange {
  color: $pastel-orange;
}

.text-pastelPurple {
  color: $pastel-purple;
}

.text-secondary {
  color: $secondary-color;
}

.bg-pastelLightYellow {
  background-color: $pastel-light-yellow;
}

.bg-pastelPurple {
  background-color: $pastel-purple;
}

.bg-pastelOrange {
  background-color: $pastel-orange;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(-45deg, $primary-color, $secondary-color, $accent-color);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

div, h4 {
  &.cognitive {
    background-color: $pastel-light-yellow;
    color: $pastel-yellow;
  }

  &.speech {
    background-color: $pastel-light-red;
    color: $pastel-red;
  }

  &.ot {  
    background-color: $pastel-light-blue;
    color: $pastel-blue;
  }
}

.loader {
  height: 150px;
  width: 100px;
  border-radius: 55px 55px 10px 10px;
  position: relative;
  background: #FF3D00;

  background-image: linear-gradient(0deg,
  #f63a99 25%,
  #30dcf6 25%,
  #30dcf6 25%,
  #30dcf6 50%,
  #f2d200 50%,
  #f2d200 50%,
  #f2d200 75%,
  #70ca5c 75%);
  background-position: 0px 0px;
  background-size: auto 175px;
  background-repeat: repeat-y;
  animation: colorShift 6s linear infinite;



}
.loader:before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 15px;
  width: 15px;
  height: 100px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);

}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50% , 0);
  box-shadow: 0 15px 2px rgba(0, 0, 0, 0.25) inset;
  width: 32px;
  height: 45px;
  background: #E09C5F;
  border-radius: 0 0 12px 12px;
}

@keyframes colorShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 175px;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}



