@use './variables' as *;

.generic-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;

  .modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .modal-container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 0.5rem;
    margin: 0;
  }

  .modal-header {
    display: flex;
    justify-content: flex-end;
  }

  .close-button {
    font-weight: bold;
    font-size: 1rem;
    
    &:hover {
      color: #111827; // equivalent to gray-900
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-purple;
  }

  .modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    color: $dark-purple;

    h1 {
      font-size: 1.5rem;
    }
} 
}