$primary-color: #1e40af;
$secondary-color: #9333ea;
$accent-color: #f43f5e;
$pastel-yellow: #FDCD60;
$dark-purple: #5546CB;
$pastel-orange: #FF8859;
$pastel-light-yellow: #FEFAE0;
$pastel-light-red: #E5989B;
$pastel-light-blue: #98D8FF;
$pastel-red: #FF6060;
$pastel-blue: #295F98;
$pastel-purple: #C7C3FF;
$pastel-yellow: #FDCD60;
$dark-purple: #5546CB;
$pastel-light-purple: #E8E6FF;
$pastel-light-red: #E5989B;
$pastel-bordo: #B03052;
$border-color: #D1D5DB;
$lilita-one: 'Lilita One', cursive;
$wendy-one: 'Wendy One', cursive;
$fredoka: 'Fredoka', cursive;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;